.App {
  width: 100vw;
  height: 100vh;
  background-color: silver;
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  background-image: url('../images/theme.png');
}

.AddTask {
  flex-basis: 25%;
}

.TaskList {
  flex-basis: 55%;
}

.TaskInfo {
  flex-basis: 20%;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px solid black;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(219, 219, 219);
  border: 0px solid black;
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  height: 80px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: lightskyblue;
}