.TaskInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
}

.TaskInfo h1 {
    text-align: center;
    font-size: 25px;
    padding: 20px 0;
}

.TaskInfo h4 {
    padding: 5%;
    font-size: 20px;
    font-weight: normal;
    border: 2px solid red;
}