.TaskList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.TaskList h1 {
    padding: 20px 0;
}

.TaskList h2 {
    padding: 20px 0;
}

.TaskList section {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.TaskList h3 {
    padding: 10px;
    font-size: 20px;
    font-weight: normal;
}

.TaskList button {
    padding: 10px;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: .2s ease-out;
    outline: none;
}

.TaskList button:hover {
    background-color: white;
    color: black;
}


.ActiveTasks,
.TaskCompleted {
    padding: 10px;
    width: 97%;
    cursor: pointer;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    border-radius: 10px;
}

.ActiveTasks h3 {
    flex-basis: 35%;
}

.ActiveTasks button {
    flex-basis: 10%;
}

.TaskCompleted {
    border-color: silver;
    justify-content: space-between;
}

.TaskCompleted h3 {
    color: silver;
    font-style: italic;
}

.TaskCompleted button {
    padding: 5px 25px;
    color: silver;
    border-color: silver;
}

.priority {
    color: rgb(77, 212, 43)
}